@import "variables";
@import "mixins";


.excel__toolbar {
    height: $toolbar-height;
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    padding: 7px 7px;
    display: flex;

    & .button {
        @include button(green);
    }
}